In [4]:
# 1  masala
txt = 'MsaatmiazD'
txt[::2]

'Matiz'

In [27]:
txt= 'MsaatmiazD'
MsaatmiazD= txt[0]+txt[2]+txt[8]+txt[9]+txt[2]
print(MsaatmiazD)

MazDa

In [33]:
# 2 masala
txt = "I'm John. I am from London"
txt[20:26]

'London'

In [ ]:
# 3 masala
txt = ("London")
print(txt[::-1])

nodnoL

In [ ]:
# 4 masala
word = input ("Palindrom teskarimi")
if word == word [::-1]:
    print("palindrom")
else:
    print("palindrom emas")

palindrom

In [ ]:
# 5 masala
mevalar =["Olma","Banan","Uzum","Gilos","Apelsin"]
print(mevalar[2])

Uzum

In [ ]:
# 6 masala
list1 = [1,2,3]
list2 =[4,5,6]
qoshish = list1 + list2
print(qoshish)

[1, 2, 3, 4, 5, 6]

In [ ]:
# 7 masala
number =[10,20,30,40,50]
num1 = [10]
num2 = [30]
end = [50]
new_list =[num1,num2,end]
print(new_list)

[[10], [30], [50]]

In [ ]:
# 8 masala
cities =["London","Paris", "Rome"]
if "Paris" in cities:
    print("Bor")
else:
    print("yo'q")

Bor

In [51]:
# 9 masala
number = [1,2,3]
new = number * 2
print(new)

[1, 2, 3, 1, 2, 3]

In [52]:
# 10 masala
number = [10,20,30,40]
number[0], number[-1] = number[-1], number[0]
print(number)

[40, 20, 30, 10]